{% extends "base.html" %}

{% block title %} Friends List {% endblock %}

{% block content %}
<header>
    <nav class="nav-links">
	    <h3>Welcome {{request.user.get_username}}</h2>
	    <a href="{% url 'account:logout' %}"><button>logout</button></a>
    </nav>
    <div class="f-con">
      <a href="{% url 'main:home'%}"><h3>suggestions</h3></a>
      <a href="{% url 'main:allrequest'%}"><h3>friend request</h3></a>
      <a href="{% url 'main:friendslist'%}"><h3>firends (100)</h3></a>
    </div>
  </header>
  <hr>
  <main>
   {% for friend in friends %}
    <div class="suggest">
	    <img src="{{ friend.image.images.url }}" alt="user image">
      <h4>{{friend.get_username}}</h4>
      <p>{{friend.get_contact}}</p>
    </div>
  </main>
  {% endfor %}

{%endblock%}
